---
import Layout from "@/layouts/Layout.astro";

import { BRAND_NAME } from "@/constants";
---

<Layout title={BRAND_NAME}>
  <div class="flex items-center justify-center min-h-dynamic-screen p-6">
    <div class="flex-grow max-w-3xl">
      <header class="text-center">
        <h1 class="font-bold text-2xl sm:text-4xl sm:mb-1">{BRAND_NAME}</h1>
        <p class="font-medium text-gray-500 sm:text-base text-sm">
          Sitio web en construcción...
        </p>
      </header>

      <main class="my-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d0!2d0!3d0!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd123c2f9c2e6b69%3A0xc807283eba5bc1ca!2sLocation!5e0!3m2!1sen!2s!4v1632769627823!5m2!1sen!2s"
          frameborder="0"
          allowfullscreen
          loading="lazy"
          class="aspect-video w-full"
        ></iframe>
      </main>

      <footer class="text-center">
        <h2 class="sm:font-bold sm:text-2xl text-lg font-semibold mb-1">
          Contacto
        </h2>

        <ul>
          <li>
            <a href="tel:+34955783234" class="underline text-blue-500"
              >+34 955 78 32 34</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/people/Horno-La-Caballera/100057555754749/"
              class="underline text-blue-500"
              >Facebook</a
            >
          </li>
        </ul>
      </footer>
    </div>
  </div>
</Layout>
